.component {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  padding: var(--fastdo-padding-button);
  border-radius: var(--fastdo-border-radius-1);
}

.componentDefault {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
}

.componentDefault:hover {
  background-color: var(--fastdo-primary-dark-color);
  border-color: var(--fastdo-primary-dark-color);
}

.componentDefault:focus {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-primary-color);
  box-shadow: var(--fastdo-box-shadow-focus-1);
}

.componentDisabled {
  border: 2px solid var(--fastdo-gray3-color);
  background-color: var(--fastdo-gray3-color);
  color: var(--fastdo-light-color);
}

.componentDisableOutlined {
  border: 2px solid var(--fastdo-gray3-color);
  background-color: var(--fastdo-light-color);
  color: var(--fastdo-gray3-color);
}

.componentOutlined {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-light-color);
  color: var(--fastdo-primary-color);
}

.componentOutlined:hover {
  background-color: var(--fastdo-primary-color);
  border-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
}

.componentOutlined:focus {
  background-color: var(--fastdo-primary-color);
  border-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
  box-shadow: var(--fastdo-box-shadow-focus-1);
}

.componentDanger {
  border: 2px solid var(--fastdo-error-color);
  background-color: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
}

.componentDanger:hover {
  background-color: var(--fastdo-error-dark-color);
  border-color: var(--fastdo-error-dark-color);
}

.componentDanger:focus {
  border: 2px solid var(--fastdo-error-color);
  background-color: var(--fastdo-error-color);
  box-shadow: var(--fastdo-error-box-shadow-focus-1);
}

.componentDangerOutlined {
  border: 2px solid var(--fastdo-error-color);
  background-color: var(--fastdo-light-color);
  color: var(--fastdo-error-color);
}

.componentDangerOutlined:hover {
  background-color: var(--fastdo-error-color);
  border-color: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
}

.componentDangerOutlined:focus {
  background-color: var(--fastdo-error-color);
  border-color: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
  box-shadow: var(--fastdo-error-box-shadow-focus-1);
}
