.component {
  font-family: var(--primary-font-family);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 20rem;
}

.componentDefault {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--primary-text-white-color);
}

.componentDefault:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.componentDefault:focus {
  border: 2px solid var(--primary-color-focus);
  background-color: var(--primary-color-focus);
  box-shadow: var(--primary-button-box-shadow-focus);
}

.componentDisabled {
  border: 2px solid var(--primary-disabled-color);
  background-color: var(--primary-disabled-color);
  color: var(--primary-text-white-color);
}

.componentDisabledOutlined {
  border: 2px solid var(--primary-disabled-color);
  background-color: var(--primary-text-white-color);
  color: var(--primary-disabled-color);
}

.componentOutlined {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-text-white-color);
  color: var(--primary-color);
}

.componentOutlined:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: var(--primary-text-white-color);
}

.componentOutlined:focus {
  border: 2px solid var(--primary-color-focus);
  background-color: var(--primary-color-focus);
  box-shadow: var(--primary-button-box-shadow-focus);
}
