.component {
  background-color: var(--fd-gray1-color);
  border-radius: var(--fd-border-radius-3);
  padding-left: var(--fd-padding-2);
  padding-right: var(--fd-padding-2);
}

.option {
  padding: var(--fd-padding-2);
  display: flex;
  align-items: center;
}

.option input {
  margin: 0;
  cursor: pointer;
  accent-color: var(--fd-primary-color);
}

.option label {
  font-size: var(--fd-label-font-size);
  margin-left: var(--fd-margin-1);
  cursor: pointer;
}
