.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: var(--fd-gray4-color);
  padding: var(--fd-padding-2) var(--fd-padding-3);
  border-radius: var(--fd-border-radius-2);
  overflow-x: auto;
}

.text {
  color: var(--fd-light-color);
}

.iconDiv {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.iconCopy {
  color: var(--fd-light-color);
}

.iconDone {
  color: var(--fd-success-color);
}
