.component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--fastdo-modal-z-index, 600);
}

.shader {
  background: var(--fastdo-modal-shader-background, transparent);
  opacity: var(--fastdo-modal-shader-opacity, 0.2);
  z-index: calc(var(--fastdo-modal-z-index, 600) - 10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 0.6rem 0 0.6rem 0;
  font-size: 1.4rem;
}

.closeIcon {
  position: absolute;
  top: var(--fastdo-modal-close-icon-top, 1rem);
  right: var(--fastdo-modal-close-icon-right, 1rem);
  height: 26px;
  width: 26px;
  cursor: pointer;
  color: var(--fastdo-dark-color);
}
