/*#region Button*/
.fastdo-Button-component {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: var(--fastdo-border-radius-1);
}

.fastdo-Button-componentDefault {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
}

.fastdo-Button-componentDefault:hover {
  background-color: var(--fastdo-primary-dark-color);
  border-color: var(--fastdo-primary-dark-color);
}

.fastdo-Button-componentDefault:focus {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-primary-color);
  box-shadow: var(--fastdo-box-shadow-focus-1);
}

.fastdo-Button-componentDisabled {
  border: 2px solid var(--fastdo-gray3-color);
  background-color: var(--fastdo-gray3-color);
  color: var(--white-color);
}

.fastdo-Button-componentDisableOutlined {
  border: 2px solid var(--fastdo-gray3-color);
  background-color: var(--fastdo-white-color);
  color: var(--gray3-color);
}

.fastdo-Button-componentOutlined {
  border: 2px solid var(--fastdo-primary-color);
  background-color: var(--fastdo-white-color);
  color: var(--fastdo-primary-color);
}

.fastdo-Button-componentOutlined:hover {
  background-color: var(--fastdo-primary-color-dark);
  border-color: var(--fastdo-primary-color-dark);
  color: var(--fastdo-white-color);
}

.fastdo-Button-componentOutlined:focus {
  border: 2px solid var(--fastdo-primary-color-dark);
  background-color: var(--fastdo-primary-color-dark);
  box-shadow: var(--fastdo-box-shadow-focus-1);
  color: var(--fastdo-white-color);
}
/*#endregion */

/*#region TextField*/
.fastdo-TextField-component {
  text-align: start;
}

.fastdo-TextField-component label {
  font-size: var(--fastdo-label-font-size);
  font-weight: var(--fastdo-label-font-weight);
  margin-left: 12px;
}

.fastdo-TextField-component input {
  margin-top: 2px;
  font-size: var(--fastdo-body1-font-size);
  font-weight: var(--fastdo-body1-font-weight);
  padding: 10px 12px;
  border: 0;
  border-radius: var(--fastdo-border-radius-2);
  width: 100%;
  transition: 0.3s;
  color: var(--fastdo-dark-color);
  background-color: var(--fastdo-gray1-color);
}

.fastdo-TextField-component input:focus {
  outline: none;
  box-shadow: var(--fastdo-box-shadow-focus-2);
}

.fastdo-TextField-component input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
/*#endregion */

/*#region CheckBox*/
.fastdo-CheckBox-component {
  display: flex;
  align-items: center;
}

.fastdo-CheckBox-component input {
  accent-color: var(--fastdo-primary-color);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fastdo-CheckBox-component label {
  font-size: 16px;
  margin-left: 10px;
  font-size: var(--fastdo-label-font-size);
  font-weight: var(--fastdo-label-font-weight);
}
/*#endregion */
