@import "./app/app.css";
@import "./app/components.css";

* {
  box-sizing: border-box;
  font-family: var(--fastdo-primary-font-family);
}

body {
  margin: 0;
}

h1 {
  font-size: var(--fastdo-heading1-font-size);
  font-weight: var(--fastdo-heading1-font-weight);
  color: var(--fastdo-dark-color);
  margin: 0;
}

h2 {
  font-size: var(--fastdo-heading2-font-size);
  font-weight: var(--fastdo-heading2-font-weight);
  color: var(--fastdo-dark-color);
  margin: 0;
}

h3 {
  font-size: var(--fastdo-heading3-font-size);
  font-weight: var(--fastdo-heading3-font-weight);
  color: var(--fastdo-dark-color);
  margin: 0;
}

h4 {
  font-size: var(--fastdo-heading4-font-size);
  font-weight: var(--fastdo-heading4-font-weight);
  color: var(--fastdo-dark-color);
  margin: 0;
}

p {
  font-size: var(--fastdo-body1-font-size);
  font-weight: var(--fastdo-body1-font-weight);
  color: var(--fastdo-dark-color);
  margin: 0;
  text-align: justify;
}

@media (max-width: 500px) {
  .p {
    text-align: unset;
  }
}

a {
  text-decoration: none;
}
