$colorTypes: (
  primary,
  secondary,
  tertiary,
  success,
  warning,
  danger,
  info,
  dark,
  light,
  gray1,
  gray2,
  gray3,
  gray4,
  gray5
);

$textTypes: (h1, h2, h3, h4, p1, p2, p3, label);

$levels: (1, 2, 3, 4, 5);

$positions: (absolute, relative, fixed, sticky);
