.containerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsDiv {
  display: flex;
}

.actionIcon {
  height: 26px;
  width: 26px;
  cursor: pointer;
  color: var(--fastdo-dark-color);
}

@media (max-width: 500px) {
  .containerDiv {
    flex-direction: column;
    justify-content: flex-start;
  }

  .containerDiv p {
    margin-bottom: 1rem;
  }
}
