.component {
  padding: 1rem;
  min-height: 100vh;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentDiv {
  max-width: var(380px);
  width: 100%;
  margin: auto;
}
