@import '../../variables.scss';

@each $colorType in $colorTypes {
  .fd-card-#{$colorType} {
    box-shadow: var(--fd-#{$colorType}-card-box-shadow);
    border-radius: var(--fd-border-radius-2);
    padding: var(--fd-padding-4);
    background: var(--fd-gray1-color);
  }
}
