:root {
  --fd-font-family: 'Nunito';

  --fd-primary-color: #15009e;
  --fd-primary-color-dark: #353344;
  --fd-primary-color-light: #1900bd;
  --fd-primary-color-hover: #1e00e2;
  --fd-primary-color-focus: #1b00ca;
  --fd-primary-box-shadow: 0;
  --fd-primary-box-shadow-hover: 0;
  --fd-primary-box-shadow-focus: 0 0 0 5px #1b00ca79;
  --fd-primary-card-box-shadow: 0 4px 8px 0 #15009e23, 0 6px 20px 0 #15009e3d;
  --fd-primary-text-field-box-shadow-focus: 0 4px 8px 0 #15009e23, 0 6px 20px 0 #15009e3d;

  --fd-secondary-color: #ebae43;
  --fd-secondary-color-dark: #ebae43;
  --fd-secondary-color-light: #ebae43;
  --fd-secondary-color-hover: #ebae43;
  --fd-secondary-color-focus: #ebae43;
  --fd-secondary-box-shadow: 0;
  --fd-secondary-box-shadow-hover: 0;
  --fd-secondary-box-shadow-focus: 0 0 0 5px #e4e4e479;
  --fd-secondary-card-box-shadow: 0 4px 8px 0 #ebae4323, 0 6px 20px 0 #ebae433d;
  --fd-secondary-text-field-box-shadow-focus: 0 4px 8px 0 #ebae4323, 0 6px 20px 0 #ebae433d;

  --fd-tertiary-color: #5a3740;
  --fd-tertiary-color-dark: #5a3743;
  --fd-tertiary-color-light: #5a373c;
  --fd-tertiary-color-hover: #5a373c;
  --fd-tertiary-color-focus: #5a373c;
  --fd-tertiary-box-shadow: 0;
  --fd-tertiary-box-shadow-hover: 0;
  --fd-tertiary-box-shadow-focus: 0 0 0 5px #5a373c79;
  --fd-tertiary-card-box-shadow: 0 4px 8px 0 #5a373c23, 0 6px 20px 0 #5a373c3d;
  --fd-tertiary-text-field-box-shadow-focus: 0 4px 8px 0 #5a373c23, 0 6px 20px 0 #5a373c3d;

  --fd-success-color: #21ba1e;
  --fd-success-color-dart: #146217;
  --fd-success-color-light: #9cd1a5;
  --fd-success-color-hover: #21ba1e;
  --fd-success-color-focus: #21ba1e;
  --fd-success-box-shadow: 0;
  --fd-success-box-shadow-hover: 0;
  --fd-success-box-shadow-focus: 0 0 0 5px #21ba1e79;
  --fd-success-card-box-shadow: 0 4px 8px 0 #21ba1e23, 0 6px 20px 0 #21ba1e3d;
  --fd-success-text-field-box-shadow-focus: 0 4px 8px 0 #21ba1e23, 0 6px 20px 0 #21ba1e3d;

  --fd-warning-color: #ebae43;
  --fd-warning-color-dark: #585d62;
  --fd-warning-color-light: #e4e4e4;
  --fd-warning-color-hover: #ebae43;
  --fd-warning-color-focus: #ebae43;
  --fd-warning-box-shadow: 0;
  --fd-warning-box-shadow-hover: 0;
  --fd-warning-box-shadow-focus: 0 0 0 5px #ebae4379;
  --fd-warning-card-box-shadow: 0 4px 8px 0 #ebae4323, 0 6px 20px 0 #ebae433d;
  --fd-warning-text-field-box-shadow-focus: 0 4px 8px 0 #ebae4323, 0 6px 20px 0 #ebae433d;

  --fd-danger-color: #eb361a;
  --fd-danger-color-dark: #912919;
  --fd-danger-color-light: #ebb6ae;
  --fd-danger-color-hover: #eb361a;
  --fd-danger-color-focus: #eb361a;
  --fd-danger-box-shadow: 0;
  --fd-danger-box-shadow-hover: 0;
  --fd-danger-box-shadow-focus: 0 0 0 5px #eb361a79;
  --fd-danger-card-box-shadow: 0 4px 8px 0 #eb361a23, 0 6px 20px 0 #eb361a3d;
  --fd-danger-text-field-box-shadow-focus: 0 4px 8px 0 #eb361a23, 0 6px 20px 0 #eb361a3d;

  --fd-info-color: #d5eb43;
  --fd-info-color-dark: #8a9d0a;
  --fd-info-color-light: #e1eb9f;
  --fd-info-color-hover: #d5eb43;
  --fd-info-color-focus: #d5eb43;
  --fd-info-box-shadow: 0;
  --fd-info-box-shadow-hover: 0;
  --fd-info-box-shadow-focus: 0 0 0 5px #d5eb4379;
  --fd-info-card-box-shadow: 0 4px 8px 0 #d5eb4323, 0 6px 20px 0 #d5eb433d;
  --fd-info-text-field-box-shadow-focus: 0 4px 8px 0 #d5eb4323, 0 6px 20px 0 #d5eb433d;

  --fd-dark-color: #000000;
  --fd-dark-color-dark: #000000;
  --fd-dark-color-light: #000000;
  --fd-dark-color-hover: #000000;
  --fd-dark-color-focus: #000000;
  --fd-dark-box-shadow: 0;
  --fd-dark-box-shadow-hover: 0;
  --fd-dark-box-shadow-focus: 0 0 0 5px #00000079;
  --fd-dark-card-box-shadow: 0 4px 8px 0 #00000023, 0 6px 20px 0 #0000003d;
  --fd-dark-text-field-box-shadow-focus: 0 4px 8px 0 #00000023, 0 6px 20px 0 #0000003d;

  --fd-light-color: #ffffff;
  --fd-light-color-dark: #ffffff;
  --fd-light-color-light: #ffffff;
  --fd-light-color-hover: #ffffff;
  --fd-light-color-focus: #ffffff;
  --fd-light-box-shadow: 0;
  --fd-light-box-shadow-hover: 0;
  --fd-light-box-shadow-focus: 0 0 0 5px #ffffff79;
  --fd-light-card-box-shadow: 0 4px 8px 0 #ffffff23, 0 6px 20px 0 #ffffff3d;
  --fd-light-text-field-box-shadow-focus: 0 4px 8px 0 #ffffff23, 0 6px 20px 0 #ffffff3d;

  --fd-gray1-color: #fdfdfd;
  --fd-gray1-color-dark: #efefef;
  --fd-gray1-color-light: #efefef;
  --fd-gray1-color-hover: #efefef;
  --fd-gray1-color-focus: #efefef;
  --fd-gray1-box-shadow: 0;
  --fd-gray1-box-shadow-hover: 0;
  --fd-gray1-box-shadow-focus: 0 0 0 5px #efefef79;
  --fd-gray1-card-box-shadow: 0 4px 8px 0 #efefef23, 0 6px 20px 0 #efefef3d;
  --fd-gray1-text-field-box-shadow-focus: 0 4px 8px 0 #efefef23, 0 6px 20px 0 #efefef3d;

  --fd-gray2-color: #cfcfcf;
  --fd-gray2-color-dark: #cfcfcf;
  --fd-gray2-color-light: #cfcfcf;
  --fd-gray2-color-hover: #cfcfcf;
  --fd-gray2-color-focus: #cfcfcf;
  --fd-gray2-box-shadow: 0;
  --fd-gray2-box-shadow-hover: 0;
  --fd-gray2-box-shadow-focus: 0 0 0 5px #cfcfcf79;
  --fd-gray2-card-box-shadow: 0 4px 8px 0 #cfcfcf23, 0 6px 20px 0 #cfcfcf3d;
  --fd-gray2-text-field-box-shadow-focus: 0 4px 8px 0 #cfcfcf23, 0 6px 20px 0 #cfcfcf3d;

  --fd-gray3-color: #dedcdc;
  --fd-gray3-color-dark: #dedcdc;
  --fd-gray3-color-light: #dedcdc;
  --fd-gray3-color-hover: #dedcdc;
  --fd-gray3-color-focus: #dedcdc;
  --fd-gray3-box-shadow: 0;
  --fd-gray3-box-shadow-hover: 0;
  --fd-gray3-box-shadow-focus: 0 0 0 5px #dedcdc79;
  --fd-gray3-card-box-shadow: 0 4px 8px 0 #dedcdc23, 0 6px 20px 0 #dedcdc3d;
  --fd-gray3-text-field-box-shadow-focus: 0 4px 8px 0 #dedcdc23, 0 6px 20px 0 #dedcdc3d;

  --fd-gray4-color: #373737;
  --fd-gray4-color-dark: #373737;
  --fd-gray4-color-light: #373737;
  --fd-gray4-color-hover: #373737;
  --fd-gray4-color-focus: #373737;
  --fd-gray4-box-shadow: 0;
  --fd-gray4-box-shadow-hover: 0;
  --fd-gray4-box-shadow-focus: 0 0 0 5px #37373779;
  --fd-gray4-card-box-shadow: 0 4px 8px 0 #37373723, 0 6px 20px 0 #3737373d;
  --fd-gray4-text-field-box-shadow-focus: 0 4px 8px 0 #37373723, 0 6px 20px 0 #3737373d;

  --fd-gray5-color: #131313;
  --fd-gray5-color-dark: #131313;
  --fd-gray5-color-light: #131313;
  --fd-gray5-color-hover: #131313;
  --fd-gray5-color-focus: #131313;
  --fd-gray5-box-shadow: 0;
  --fd-gray5-box-shadow-hover: 0;
  --fd-gray5-box-shadow-focus: 0 0 0 5px #13131379;
  --fd-gray5-card-box-shadow: 0 4px 8px 0 #13131323, 0 6px 20px 0 #1313133d;
  --fd-gray5-text-field-box-shadow-focus: 0 4px 8px 0 #13131323, 0 6px 20px 0 #1313133d;

  --fd-primary-background-color: #f8f7f7;
  --fd-secondary-background-color: #f8f7f7;
  --fd-tertiary-backgorund-color: #e4e4e4;

  --fd-primary-background: var(--fd-primary-background-color);
  --fd-secondary-background: var(--fd-secondary-background-color);
  --fd-tertiary-background: var(--fd-tertiary-backgorund-color);

  --fd-border-1: 5px solid;
  --fd-border-2: 4px solid;
  --fd-border-3: 3px solid;
  --fd-border-4: 2px solid;
  --fd-border-5: 1px solid;

  --fd-h1-font-size: 28px;
  --fd-h1-font-weight: 700;
  --fd-h1-margin: 16px 0;

  --fd-h2-font-size: 24px;
  --fd-h2-font-weight: 600;
  --fd-h2-margin: 10px 0;

  --fd-h3-font-size: 20px;
  --fd-h3-font-weight: 600;
  --fd-h3-margin: 0;

  --fd-h4-font-size: 16px;
  --fd-h4-font-weight: 600;
  --fd-h4-margin: 0;

  --fd-p1-font-size: 14px;
  --fd-p1-font-weight: 600;
  --fd-p1-margin: 0;

  --fd-p2-font-size: 12px;
  --fd-p2-font-weight: 400;
  --fd-p2-margin: 0;

  --fd-p3-font-size: 10px;
  --fd-p3-font-weight: 400;
  --fd-p3-margin: 0;

  --fd-label-font-size: 12px;
  --fd-label-font-weight: 600;
  --fd-label-margin: 0;

  --fd-border-radius-1: 2000px;
  --fd-border-radius-2: 20px;
  --fd-border-radius-3: 16px;
  --fd-border-radius-4: 12px;
  --fd-border-radius-5: 8px;

  --fd-padding-1: 30px;
  --fd-padding-2: 20px;
  --fd-padding-3: 16px;
  --fd-padding-4: 12px;
  --fd-padding-5: 8px;

  --fd-margin-1: 30px;
  --fd-margin-2: 20px;
  --fd-margin-3: 16px;
  --fd-margin-4: 12px;
  --fd-margin-5: 2px;

  --fd-ul-margin: 0;
  --fd-ul-padding: 0 0 0 30px;

  --fd-ol-margin: 0;
  --fd-ol-padding: 0 0 0 30px;

  --fd-z-index-1: 500;
  --fd-z-index-2: 400;
  --fd-z-index-3: 300;
  --fd-z-index-4: 200;
  --fd-z-index-5: 100;

  --fd-opacity-1: 1;
  --fd-opacity-2: 0.8;
  --fd-opacity-3: 0.6;
  --fd-opacity-4: 0.4;
  --fd-opacity-5: 0.2;
}
