:root {
  /* Main */
  /* ------------------ */
  --primary-font-family: "Nunito";

  --fastdo-primary-color: #5a43eb;
  --fastdo-primary-color-hover: #4a2eb5;
  --fastdo-primary-color-focus: #4a2eb5;

  --fastdo-secondary-color: #ebae43;
  --fastdo-secondary-color-hover: #946b24;
  --fastdo-secondary-color-focus: #946b24;

  --fastdo-tertiary-color: #43ebae;
  --fastdo-tertiary-color-hover: #24a46b;
  --fastdo-tertiary-color-focus: #24a46b;

  --fastdo-dark-color: #000000;
  --fastdo-light-color: #ffffff;
  --fastdo-gray1-color: #efefef;
  --fastdo-gray2-color: #cfcfcf;
  --fastdo-gray3-color: #a6a6a6;
  --fastdo-gray4-color: #373737;
  --fastdo-gray5-color: #131313;

  --fastdo-success-color: #21ba1e;
  --fastdo-success-dark-color: #146217;
  --fastdo-success-light-color: #9cd1a5;
  --fastdo-error-color: #eb5a43;
  --fastdo-error-dark-color: #912919;
  --fastdo-error-light-color: #ebb6ae;
  --fastdo-info-color: #d5eb43;
  --fastdo-info-dark-color: #8a9d0a;
  --fastdo-info-light-color: #e1eb9f;

  --fastdo-primary-card-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  --fastdo-secondary-card-shadow: 0px 2px 8px #5a43eb;

  --fastdo-heading1-font-size: 28px;
  --fastdo-heading1-font-weight: 700;
  --fastdo-heading2-font-size: 24px;
  --fastdo-heading2-font-weight: 600;
  --fastdo-heading3-font-size: 20px;
  --fastdo-heading3-font-weight: 600;
  --fastdo-heading4-font-size: 16px;
  --fastdo-heading4-font-weight: 600;
  --fastdo-body1-font-size: 16px;
  --fastdo-body1-font-weight: 400;
  --fastdo-body2-font-size: 14px;
  --fastdo-body2-font-weight: 400;
  --fastdo-label-font-size: 12px;
  --fastdo-label-font-weight: 600;

  --fastdo-border-radius-1: 6px;
  --fastdo-border-radius-2: 8px;
  --fastdo-border-radius-3: 12px;
  --fastdo-border-radius-4: 16px;

  --fastdo-box-shadow-focus-1: 0 0 0 5px rgba(90, 67, 235, 0.4);
  --fastdo-box-shadow-focus-2: 0 0 10px rgba(90, 67, 235, 0.4);
  --fastdo-error-box-shadow-focus-1: 0 0 0 5px rgb(235, 90, 67, 0.4);
  --fastdo-error-box-shadow-focus-2: 0 0 10px rgb(235, 90, 67, 0.4);
  --fastdo-success-box-shadow-focus-1: 0 0 0 5px rgb(33, 186, 30, 0.4);
  --fastdo-success-box-shadow-focus-2: 0 0 10px rgb(33, 186, 30, 0.4);
  --fastdo-info-box-shadow-focus-1: 0 0 0 5px rgb(213, 235, 67, 0.4);
  --fastdo-info-box-shadow-focus-2: 0 0 10px rgb(213, 235, 67, 0.4);

  --fastdo-padding-1: 8px;
  --fastdo-padding-2: 16px;
  --fastdo-padding-3: 20px;

  --fastdo-margin-1: 8px;
  --fastdo-margin-2: 16px;
  --fastdo-margin-3: 20px;

  /* Components */
  /* ------------------ */
  /* Button */
  --fastdo-button-font-weight: 500;
  --fastdo-button-font-size: 16px;
  --fastdo-button-padding: 14px 18px;
  --fastdo-button-border-radius: 8px;
  --fastdo-button-border: 2px solid var(--fastdo-primary-color);
  --fastdo-button-background-color: var(--fastdo-primary-color);
  --fastdo-button-color: var(--fastdo-light-color);
  --fastdo-button-background-color-hover: var(--fastdo-primary-color-hover);
  --fastdo-button-color-hover: var(--fastdo-light-color);
  --fastdo-button-border-hover: 2px solid var(--fastdo-primary-color-hover);
  --fastdo-button-background-color-focus: var(--fastdo-primary-color-focus);
  --fastdo-button-color-focus: var(--fastdo-light-color);
  --fastdo-button-border-focus: 2px solid var(--fastdo-primary-color-focus);
  --fastdo-button-box-shadow-focus: 0 0 0 5px rgba(90, 67, 235, 0.4);
  --fastdo-button-disabled-border: 2px solid var(--fastdo-gray3-color);
  --fastdo-button-disabled-background-color: var(--fastdo-gray3-color);
  --fastdo-button-disabled-color: var(--fastdo-light-color);
  --fastdo-button-loading-color: var(--fastdo-light-color);

  /* TextField */
  --fastdo-text-field-label-font-size: var(--fastdo-label-font-size);
  --fastdo-text-field-label-font-weight: var(--fastdo-label-font-weight);
  --fastdo-text-field-label-margin: 0 0 0 2px;
  --fastdo-text-field-input-font-size: 16px;
  --fastdo-text-field-input-font-weight: 400;
  --fastdo-text-field-input-padding: 11px 12px;
  --fastdo-text-field-input-border-radius: 8px;
  --fastdo-text-field-input-color: black;
  --fastdo-text-field-input-background-color: var(--fastdo-gray1-color);
  --fastdo-text-field-box-shadow: 0 0 0 5px rgba(90, 67, 235, 0.4);
  --fastdo-text-field-color-disabled: var(--fastdo-gray2-color);

  /* TextArea */
  --fastdo-text-area-input-border-radius: 8px;

  /* RecommendationTextField */
  --fastdo-recommendation-text-field-background-color: #f1f1f1;
  --fastdo-recommendation-text-field-z-index: 100;
  --fastdo-recommendation-text-field-color: black;
  --fastdo-recommendation-text-field-color-hover: white;
  --fastdo-recommendation-text-field-background-color-hover: #ae8600;
  --fastdo-recommendation-text-field-font-size: 1rem;
  --fastdo-recommendation-text-field-font-weight: 400;
  --fastdo-recommendation-text-field-border-radius: 0;

  /* HrSpacer */
  --fastdo-hr-spacer-color: #cfcfcf;

  /* CheckBox */
  --fastdo-check-box-accent-color: var(--fastdo-primary-color);
  --fastdo-check-box-font-size: var(--fastdo-label-font-size);
  --fastdo-check-box-font-weight: var(--fastdo-label-font-weight);
}
