.component {
    font-family: var(--primary-font-family);
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-text-white-color);
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.defaultPadding {
    padding: 0.8rem 2rem;
}

.smallPadding{
    padding: 0.5rem 1.2rem;
}

.componentDefault {
    background-color: var(--primary-color);
}

.componentOutlined {
    background-color: var(--primary-white-color);
    color: var(--primary-color);
}

.component:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.component:focus {
    box-shadow: var(--primary-button-text-shadow-hover);
}

.componentOutlined:hover {
    color: var(--primary-text-white-color);
}

.componentLeftBorderRadius {
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
}

.componentRightBorderRadius {
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
}