.component {
  font-family: var(--primary-font-family);
  text-align: start;
}

.component label {
  font-size: 0.95rem;
  margin-left: 1.6rem;
}

.component textarea {
  margin-top: 2px;
  font-size: 0.95rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: var(--secondary-action-border-radius);
  width: 100%;
  transition: 0.3s;
  background-color: var(--primary-text-field-background-color);
  height: 100px;
}

.component textarea:focus {
  outline: none;
  box-shadow: var(--primary-text-field-box-shadow-focus);
}
