.component {
  font-family: var(--primary-font-family);
  text-align: start;
}

.component label {
  font-size: var(--primary-text-field-label-font-size);
  font-weight: var(--primary-text-field-label-font-weight);
  margin-left: var(--primary-text-field-label-margin-left);
}

.component input {
  margin-top: 2px;
  font-weight: var(--primary-text-field-font-weight);
  font-size: var(--primary-text-field-font-size);
  padding: var(--primary-text-field-padding);
  border: 0;
  border-radius: var(--primary-action-border-radius);
  width: 100%;
  transition: 0.3s;
  color: var(--primary-text-black-color);
  background-color: var(--primary-text-field-background-color);
}

.component input:focus {
  outline: none;
  box-shadow: var(--primary-text-field-box-shadow-focus);
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
