/* #region Button */

.fd-button {
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fd-button-font-size, 1rem);
  font-weight: var(--fd-button-font-weight, 600);
  padding: var(--fd-button-padding);
  border-radius: var(--fastdo-button-border-radius);
  transition: 0.3s;
  display: inline-block;
}

.fd-button-default {
  background: var(--fastdo-button-background, var(--fastdo-primary-color));
  color: var(--fastdo-button-color, var(--fastdo-light-color));
  border: var(--fastdo-button-border, 2px solid var(--fastdo-primary-color));
}

.fd-button-default:hover {
  background: var(--fastdo-button-background-hover, var(--fastdo-primary-color));
  color: var(--fastdo-button-color-hover, var(--fastdo-light-color));
  border: var(--fastdo-button-border-hover, 2px solid var(--fastdo-primary-color));
}

.fd-button-default:focus {
  background: var(--fastdo-button-background-focus);
  color: var(--fastdo-button-color-focus, var(--fastdo-light-color));
  border: var(--fastdo-button-border-focus, 2px solid var(--fastdo-primary-color));
  box-shadow: var(--fastdo-button-box-shadow-focus, var(--fastdo-box-shadow-focus-1));
}

.fd-button-disabled {
  border: var(--fastdo-button-disabled-border, 2px solid var(--fastdo-gray3-color));
  background: var(--fastdo-button-disabled-background, var(--fastdo-gray3-color));
  color: var(--fastdo-button-disabled-color, var(--fastdo-light-color));
}

.fd-button-disabled-outlined {
  border: 2px solid var(--fastdo-gray3-color);
  background: var(--fastdo-light-color);
  color: var(--fastdo-gray3-color);
}

.fd-button-outlined {
  border: var(--fastdo-button-border, 2px solid var(--fastdo-primary-color));
  background: var(--fastdo-light-color);
  color: var(--fastdo-primary-color);
}

.fd-button-outlined:hover {
  background: var(--fastdo-primary-color);
  border-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
}

.fd-button-outlined:focus {
  background: var(--fastdo-primary-color);
  border-color: var(--fastdo-primary-color);
  color: var(--fastdo-light-color);
  box-shadow: var(--fastdo-button-box-shadow-focus, var(--fastdo-box-shadow-focus-1));
}

.fd-button-danger {
  border: 2px solid var(--fastdo-error-color);
  background: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
}

.fd-button-danger:hover {
  background: var(--fastdo-error-dark-color);
  border-color: var(--fastdo-error-dark-color);
}

.fd-button-danger:focus {
  border: 2px solid var(--fastdo-error-color);
  background: var(--fastdo-error-color);
  box-shadow: var(--fastdo-error-box-shadow-focus-1);
}

.fd-button-danger-outlined {
  border: 2px solid var(--fastdo-error-color);
  background: var(--fastdo-light-color);
  color: var(--fastdo-error-color);
}

.fd-button-danger-outlined:hover {
  background: var(--fastdo-error-color);
  border-color: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
}

.fd-button-danger-outlined:focus {
  background: var(--fastdo-error-color);
  border-color: var(--fastdo-error-color);
  color: var(--fastdo-light-color);
  box-shadow: var(--fastdo-error-box-shadow-focus-1);
}

/* #endregion */
