/* #region btn */

.fd-btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  font-size: var(--fd-btn-font-size, 1rem);
  font-weight: var(--fd-btn-font-weight, 600);
  padding: var(--fd-btn-padding);
  border-radius: var(--fd-btn-border-radius);
}

.fd-btn-default {
  background: var(--fd-btn-background, var(--fd-primary-color));
  color: var(--fd-btn-color, var(--fd-light-color));
  border: var(--fd-btn-border, 2px solid var(--fd-primary-color));
}

.fd-btn-default:hover {
  background: var(--fd-btn-background-hover, var(--fd-primary-color));
  color: var(--fd-btn-color-hover, var(--fd-light-color));
  border: var(--fd-btn-border-hover, 2px solid var(--fd-primary-color));
}

.fd-btn-default:focus {
  background: var(--fd-btn-background-focus);
  color: var(--fd-btn-color-focus, var(--fd-light-color));
  border: var(--fd-btn-border-focus, 2px solid var(--fd-primary-color));
  box-shadow: var(--fd-btn-box-shadow-focus, var(--fd-box-shadow-focus-1));
}

.fd-btn-disabled {
  border: var(--fd-btn-disabled-border, 2px solid var(--fd-gray3-color));
  background: var(--fd-btn-disabled-background, var(--fd-gray3-color));
  color: var(--fd-btn-disabled-color, var(--fd-light-color));
}

.fd-btn-disabled-outlined {
  border: 2px solid var(--fd-gray3-color);
  background: var(--fd-light-color);
  color: var(--fd-gray3-color);
}

.fd-btn-outlined {
  border: var(--fd-btn-border, 2px solid var(--fd-primary-color));
  background: var(--fd-light-color);
  color: var(--fd-primary-color);
}

.fd-btn-outlined:hover {
  background: var(--fd-primary-color);
  border-color: var(--fd-primary-color);
  color: var(--fd-light-color);
}

.fd-btn-outlined:focus {
  background: var(--fd-primary-color);
  border-color: var(--fd-primary-color);
  color: var(--fd-light-color);
  box-shadow: var(--fd-btn-box-shadow-focus, var(--fd-box-shadow-focus-1));
}

.fd-btn-danger {
  border: 2px solid var(--fd-error-color);
  background: var(--fd-error-color);
  color: var(--fd-light-color);
}

.fd-btn-danger:hover {
  background: var(--fd-error-dark-color);
  border-color: var(--fd-error-dark-color);
}

.fd-btn-danger:focus {
  border: 2px solid var(--fd-error-color);
  background: var(--fd-error-color);
  box-shadow: var(--fd-error-box-shadow-focus-1);
}

.fd-btn-danger-outlined {
  border: 2px solid var(--fd-error-color);
  background: var(--fd-light-color);
  color: var(--fd-error-color);
}

.fd-btn-danger-outlined:hover {
  background: var(--fd-error-color);
  border-color: var(--fd-error-color);
  color: var(--fd-light-color);
}

.fd-btn-danger-outlined:focus {
  background: var(--fd-error-color);
  border-color: var(--fd-error-color);
  color: var(--fd-light-color);
  box-shadow: var(--fd-error-box-shadow-focus-1);
}

/* #endregion */
