.component {
  width: 100%;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20rem;
}

.componentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.componentDiv p {
  margin: 0;
  color: var(--primary-black-color);
}

.actionsDiv {
  display: flex;
}

.actionsSeparatorDiv {
  width: 10px;
}

.actionIcon {
  height: 26px;
  width: 26px;
  cursor: pointer;
  color: var(--primary-black-color);
}
