.component {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.label {
    margin: 0;
}

.iconDiv {
}

.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: black;
}
