.fd-text-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fd-text-field-label {
  font-size: var(--fd-label-font-size);
  font-weight: var(--fd-label-font-weight);
  margin-left: 10px;
  margin-bottom: var(--fd-margin-1);
}

.fd-text-field-input {
  outline: none;
  border: 0;
  background-color: var(--fd-gray1-color);
  padding: var(--fd-padding-2) var(--fd-padding-3);
  border-radius: var(--fd-border-radius-2);
  font-size: var(--fd-p2-font-size);
  font-weight: var(--fd-p2-font-weight);
}

.fd-text-field-input:hover {
  background-color: var(--fd-gray1-color);
}

.fd-text-field-input:focus {
  border: 0;
  background-color: var(--fd-gray1-color);
}

.fd-text-field-hint {
  font-size: var(--fd-label-font-size);
  font-weight: var(--fd-label-font-weight);
  margin-left: 10px;
  margin-top: var(--fd-margin-1);
}
